.country-box {
  /* Estilos generales para todas las tarjetas de país */
  
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  padding: 0; 
  margin: 10px;
  width: 305px;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(251, 253, 255);
  margin-right: 20px; /* Margen a la derecha para todas las tarjetas de país */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.content-search {
  margin-left: 280px; /* Ajusta este valor según el ancho de tu Navbar */
}

body{
  background-color: #cfe1ff;
}

.flag-image2{
  width: 100%;
  height: 120px;

}

.flag-image{
  width: 17%;
  margin-bottom: 2px;
  margin-top: -40%;
  margin-left: 10px;
  border-radius: 20px;
}

.country-box h3 {
  font-size: 1.0em;
  margin-top: 10px;
  margin-left: 84px;
  margin-bottom: -15px;
}

.country-box p {
  color: rgb(36, 36, 36);

 margin-left: 84px;
 font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -7px;
  margin-top: 13px;
}

.search-bar {
  display: flex;
  align-items: center; /* Centrar verticalmente */
  width: 400px; /* Ancho deseado */
  margin: 0 auto; /* Centrar horizontalmente */
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 6px 220px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ffffff;
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.search-icon-content {
  background-color: #4d73ff; /* Color de fondo del contenedor */
  border-radius: 20px;
  color: azure;
  margin-right: 8px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 20px; /* Espaciado interno */
  display: flex;
  align-items: center;
}

.search-icon-content span {
  margin-left: 5px; /* Ajusta el espaciado entre el icono y el texto */
}


.search-input input[type="text"] {
  border: none; 
  border-bottom: 3px solid transparent; 
}


.search-input input[type="text"]:focus {
  border-bottom-color: #7facff; 
}


.info-section h3 {
 color: rgb(55, 118, 255);
 
}

.continents {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: 125px;
  border-radius: 25px;
  margin-left: 480px;
  background-color: #ffffff;
  width: 530px;
  height: 340px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.continent-images-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
}

.continent-box {
  cursor: pointer;
  
}

.continents h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 430;
  font-size: 1.1em;
  color: #7e7e7e;
  margin-left: 20px;
  margin-top: 20px;
  
}
.countries-container {
  position: relative; /* Asegura que el contenedor de países mantenga su posición relativa */
}
.search-label {
  position: absolute;
  top: 5px; /* Ajusta esta propiedad para cambiar la distancia vertical del texto */
  left: 30px; /* Ajusta esta propiedad para cambiar la distancia horizontal del texto */
  font-size: 1.0em; /* Ajusta el tamaño de fuente del texto */
  color: #656565; /* Ajusta el color del texto */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.continent-image {
  width: 130px; 
  height: auto;
  margin-bottom: 10px;
}


.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  flex: 1;
  margin-top: 12px;
}

.clear-filter {
  margin-left: 470px;
  margin-top: -30px;
  color: rgb(43, 105, 252);
 font-size: 1.1em;
}

.country-image {
  width: 325px; /* Ajustar el ancho al 100% del contenedor */
  height: 140px; /* Ajustar la altura automáticamente para mantener la proporción */
  border-radius: 10px; /* Agregar esquinas redondeadas */
 object-fit: cover;
 box-sizing: border-box;

}

.image-wrapper {
  width: 100%; /* Ajustar el ancho al 100% del contenedor */
  height: 100%; /* Ajustar la altura máximo para mantener la proporción */
  overflow: hidden;
  border-radius: 10px; /* Agregar esquinas redondeadas */
}

.additional-info {
  
margin-bottom: 18px;
  padding-top: 0px; /* Espacio superior para separar del contenido anterior */
}


@media only screen and (max-width: 768px) {
  .content-search {
    margin-left: 0;
  }

  .search-bar {
    width: 100%;
    padding: 6px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


