.background {
  padding: 120px;
  margin-left: 200px;
}

.section-input {
  color: rgb(67, 67, 67);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container-input input[name="code"] {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 170px; /* Eliminar el margen izquierdo */
  margin-top: -10px; /* Mover hacia arriba */
}


.button-consult button {
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
  background-color: #007bff;
  color: #ffffff;
  margin-left: 20px;
  margin-bottom: 23px;
}

.container-input.left-input {
  margin-bottom: 40px;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}

.container-input input {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttones {
  display: flex;
  justify-content: center;
  margin-left:20px;
}

.buttones button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttones button:nth-child(1) {
  background-color: #d73030; /* Azul para el botón consult */
  color: white;
  padding: 8px 25px;

}

.buttones button:nth-child(2) {
  background-color: #28a745; /* Verde para el botón create country */
  color: white;
  padding: 8px 25px;
  margin-left: 20px;
}


@media only screen and (max-width: 768px) {
  .background {
    padding: 10px;
  }

  .section-input {
    padding: 10px;
    margin-top: -20px;
  }

  .container-input input[name="code"] {
    margin-left: 0;
  }

  .buttones {
    margin-left: 0;
    justify-content: center;
  }
}
