
  
.right-input label {
  font-size: 1.0em;
 font-family: Arial, Helvetica, sans-serif;
 padding: 4px;

}

.right-input input{
   margin-top: 38px;

  }


  .left-input {
   margin-bottom: 40px;
  margin-right: 80px;
  }

.left-input label {
  
  font-size: 1.0em;
 font-family: Arial, Helvetica, sans-serif;
margin-right: 15px;
}

  .left-input input{
    margin-top: 88px;
  margin-left: 200px;
   }

   .left-input button {
    margin-left: 20px;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    color: #f1f1f1;
    background-color: #007bff;
   }

  .section-update {
    color: rgb(67, 67, 67); 
    display: flex; /* Agrega esto para usar flexbox */
    flex-direction: column; /* Alinear los elementos en columna */
    justify-content: center; /* Para centrar verticalmente */
    align-items: center; /* Para centrar horizontalmente */
    padding: 10px 20px 10px 180px;
    margin-top: -60px;
  }
  
  .container-update {
    display: flex; /* Agrega flexbox */
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Para centrar verticalmente */
    align-items: end; /* Para centrar horizontalmente */
   padding: 10px 20px 10px 20px;
  }

  
  
  .container-update input {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 100px;
  }
  
  .button-update button,
  .button-delete button {
    padding: 9px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .button-update button {
    margin-right: 20px;
    margin-top: 10px;
    background-color: #009a2c;
    color: white;
  }
  
  .button-delete button {
    margin-top: 10px;
    background-color: #c53c35;
    color: white;
  }
  
  
  input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 50px;
    margin-left: 7px;
}
.section-update h1 {
  font-size: 1.2em;
  margin-right: px;
 
}

@media only screen and (max-width: 768px) {
  .section-update {
    padding: 10px;
    margin-top: -20px;

  }

  .container-update {
    padding: 10px;
  }
}
